
:root {
  --grid-cols: 1;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 600px;
  height: 600px;
}
.cell {
  background-color: white;
  margin: -1px;
  aspect-ratio: 1;
  border: 1px solid black;
}