
:root {
  --grid-cols: 1;
}
body {
  display: flex;
  align-items: center;
  user-select: none;
  background-color: #121212;
  -webkit-user-drag: none;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 750px;
  height: 750px;
}
.cell {
  background-color: white;
  margin: -1px;
  aspect-ratio: 1;
}
.tools {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  max-width: 125px;
}
